In [1]:
username = "satyamuralidhar"
print(f'Enter the user name: {username}')

Enter the user name: satyamuralidhar

In [2]:
string = "satya"
intiger = 10
boolean = True
floating = 5.9

print(type(string))
print(type(intiger))
print(type(boolean))
print(type(floating))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

In [3]:
# note different types not do any functionality type error will come
adding=(10+"2")
print(adding)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#arthematic operators

print(10+2)
print(5-3)
print(17/3) #it will give float values 
print(17//3) # wont give float values
print(10*8) # multiply
print(2**5) #squre
print(10/2) #divide

In [4]:
#example senario 2 x (10+5)^2 รท 5 - 2 BODMAS Rule (Brackets, Orders, Division, Multiplication, Addition, Subtraction.)

d = 2 * (10+5)**2 / 5 - 2
print(d)

88.0

In [5]:
#string operations 
#string are mutable

#concatination 

first_name = "satyamuralidhar"
last_name = "peddireddi"
fullname = first_name + ' ' + last_name
print(fullname)

satyamuralidhar peddireddi

In [6]:
#funtions on string operations
dem = "Hi This is Satya"
print(dem.title())
print(dem.lower())
print(dem.split())

Hi This Is Satya
hi this is satya
['Hi', 'This', 'is', 'Satya']

In [7]:
dem2 = "Hi This is: Satya"
print(dem2)
# i do want separate before and after ":"

print(dem2.split(':'))

Hi This is: Satya
['Hi This is', ' Satya']

In [8]:
#indexing
print(dem2[0])
print(dem2[0:10])
print(dem2[-1:])
print(dem2[-6:])

H
Hi This is
a
 Satya

# List

In [9]:
#lists
userlist = ["Ramana","Murali","Satish","Mohan"]
print(userlist)
print("----------")
print(userlist[0])
print("----------")
print(userlist[-1])
print("------------")
print(userlist[0:2])

['Ramana', 'Murali', 'Satish', 'Mohan']
----------
Ramana
----------
Mohan
------------
['Ramana', 'Murali']

In [10]:
userlist.append("Subbu")
print(userlist)

['Ramana', 'Murali', 'Satish', 'Mohan', 'Subbu']

In [11]:
userlist.remove("Subbu")
print(userlist)

['Ramana', 'Murali', 'Satish', 'Mohan']

In [12]:
len(userlist)

4

In [13]:
#modify values from a list
userlist[1] = "satya"
#updting value murali to satya
print(userlist)

['Ramana', 'satya', 'Satish', 'Mohan']

In [14]:
#adding item to list at certain position
userlist.insert(1,'murali')
print(userlist)

['Ramana', 'murali', 'satya', 'Satish', 'Mohan']

In [15]:
#delete value from list 
del userlist[1]
print(userlist)

['Ramana', 'satya', 'Satish', 'Mohan']

In [16]:
#list storing
userlist.sort() # alpphabetical
print(userlist)
userlist.sort(reverse=True)
print(userlist)
userlist.reverse()
print(userlist)

['Mohan', 'Ramana', 'Satish', 'satya']
['satya', 'Satish', 'Ramana', 'Mohan']
['Mohan', 'Ramana', 'Satish', 'satya']

In [17]:
#delete values using pop : pop will also show o/p it will delete one by one

userlist.pop(0)

'Mohan'

In [18]:
userlist.pop()

'satya'

In [19]:
userlist.pop()

'Satish'

In [20]:
userlist.pop()

'Ramana'

In [21]:
userlist.pop()

IndexError: pop from empty list

In [22]:
#min and max
marks = [20,33,80,88,99,76]
print(marks)
print(f'maxium marks: {max(marks)}')
print(f'minimum marks: {min(marks)}')
print(f'sum of marks: {sum(marks)}')

[20, 33, 80, 88, 99, 76]
maxium marks: 99
minimum marks: 20
sum of marks: 396