In [1]:
#functions are nothing but we can use it for reuseablility

# even and odd funtion

def even_odd(num):
    if num%2==0: 
        return "even number"
    return "odd number"

In [2]:
even_odd(21)

'odd number'

In [3]:
#using print 

def even_odd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [4]:
even_odd(10)

even

In [5]:
even_odd(11)

odd

In [6]:
# difference between print and return 
#Note: main difference between return and print function as a varaible will work on return only not on print.
#print
def hello():
    print("Hi")

In [7]:
hello()

Hi

In [8]:
value=hello()

Hi

In [9]:
print(value)

None

In [10]:
#return

def hello():
    return "Hi"

In [11]:
hello()

'Hi'

In [12]:
value=hello()

In [13]:
print(value)

Hi

In [14]:
def add(num1,num2):
    return num1+num2

In [15]:
add(10,20)

30

In [16]:
#positional and keyword args
#age=29 provided as default value if we dont passed on execution it will automatically take if we want to override iit we can
def hello(name,age=29):
    print("My name is {} and age is {}".format(name,age))

In [17]:
hello("satya")

My name is satya and age is 29

In [18]:
hello("Murali",28)

My name is Murali and age is 28

In [19]:
#positional and keyword
def hello(*args,**kwargs):
    # *args is positional **kwargs are keywordargs
    print(args)
    print(kwargs)

In [20]:
hello("Satya","Muralidhar",age=29,dob=1994)

('Satya', 'Muralidhar')
{'age': 29, 'dob': 1994}

In [21]:
lst=['Satya', 'Muralidhar']
dicto={'age': 29, 'dob': 1994}

In [22]:
hello(lst,dicto)

(['Satya', 'Muralidhar'], {'age': 29, 'dob': 1994})
{}

In [23]:
#above o/p will not given args and kwargs to fix this use below

hello(*lst,**dicto)

('Satya', 'Muralidhar')
{'age': 29, 'dob': 1994}

In [24]:
def evenodd_sum(num):
    evensum = 0
    oddsum = 0
    for i in num:
        if i%2==0:
            evensum = evensum + i
        else:
            oddsum = oddsum + i
    return evensum , oddsum

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [26]:
evenodd_sum(lst)

(56, 64)

## Lambda

In [27]:
def add(a,b):
    return a+b

In [28]:
add(10,6)

16

In [29]:
#syntax
#lambda <i/p keywords>:<type of operation>
addition=lambda a,b:a+b

In [30]:
addition(12,15)

27

In [31]:
def even(num):
    if num%2==0:
        return True

In [32]:
even(24)

True

In [33]:
even = lambda num : num%2==0

In [34]:
even(25)

False

In [35]:
addition = lambda x,y,z : x+y+z

In [36]:
addition(10,15,20)

45

In [37]:
#default values in lambda

subtraction = lambda x,y,z=30 : x-y-z
subtraction(50,20)

0

## map function

In [38]:
def even_or_odd(num):
    if num%2==0:
        return "The  number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [39]:
even_or_odd(25)

'The number 25 is Odd'

In [40]:
lst = [1,2,3,4,5,6,7,8,9,50,78,85]

In [41]:
even_or_odd(lst)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

**problem is that we cant iterate above list funtion we can use loop or we can use map funtion to iterate the list using above funtion**

SYNTAX:
--------

map(func , *iterables)

In [ ]:
map(even_or_odd,lst)

**we can convert into list to iterable**

In [ ]:
list(map(even_or_odd,lst))

## Filter Function

In [42]:
def even(num):
    if num%2==0:
        return True

In [43]:
even(10)

True

In [44]:
lst = [1,2,3,4,5,6,7,8,9,50,78,85]

In [45]:
filter(even,lst)

In [46]:
list(filter(even,lst))

[2, 4, 6, 8, 50, 78]

In [47]:
#or we can achive this using lambda function
list(filter(lambda num : num%2==0 ,lst))

[2, 4, 6, 8, 50, 78]

In [48]:
#similar way using map

list(map(lambda num : num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True, True, False]